<dl
  class="sky-description-list"
  [ngClass]="{
      'sky-description-list-term-mode' : mode == 'termDescription',
      'sky-description-list-pair-mode' : mode == 'nameValuePair',
      'sky-description-list-horizontal' : orientation == 'horizontal'
    }"
  #descriptionListElement
>
  <!-- Name-value pair mode needs a wrapping div to allow horizontal flexing. -->
  <ng-container>
    <div *ngFor="let contentComponent of contentComponents"
      class="sky-description-list-content"
      [style.width]="listItemWidth"
    >
      <ng-container
        [ngTemplateOutlet]="innerContent"
        [ngTemplateOutletContext]="{ contentComponent:contentComponent }"
      ></ng-container>
    </div>
  </ng-container>
</dl>

<ng-template #innerContent let-content="contentComponent">
  <dt>
    <ng-container *ngTemplateOutlet="content?.termComponent?.templateRef"></ng-container>
  </dt>
  <dd>
    <ng-container *ngFor="let descriptionComponent of content?.descriptionComponents;">
      <ng-container *ngTemplateOutlet="descriptionComponent.templateRef"></ng-container>
    </ng-container>
  </dd>
</ng-template>
