@import "scss/variables";

.sky-toolbar-section {
  display: flex;
  flex-wrap: nowrap;
  padding: $sky-padding-half $sky-padding;
  min-height: $sky-toolbar-min-height;
  align-items: center;

  @media (max-width: $sky-screen-sm-max) {
    padding-bottom: 0;
  }
}

.sky-toolbar-section-items {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}
