.scroll-bottom-label {
  background-color: #000;
  color: #fff;
  padding: 10px;
}

// Use a transparent DIV that fills the screen for the screenshot capture.
#screenshot-dock {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}