<div
  id="screenshot-inline-delete"
>
  <img
    src="https://sky.blackbaudcdn.net/skyuxapps/skyux/assets/home/blackbaud-mission-subset.54529204a4cfcedae130fb7db3d85a3687e22ae4.jpg"
  >
  <div>
    <button
      class="sky-btn sky-btn-danger"
      id="inline-delete-trigger"
      style="width: 100%;"
      type="button"
      (click)="deleting = !deleting"
    >
      <sky-icon
        icon="trash"
      ></sky-icon>
    </button>
  </div>
  <sky-inline-delete *ngIf="deleting"
    [pending]="pending"
    (cancelTriggered)="deleting = false"
    (deleteTriggered)="deleting = false"
  ></sky-inline-delete>
</div>

<button
  id="pending-trigger"
  class="sky-btn sky-btn-primary"
  type="button"
  (click)="pending = !pending"
>
  Show as pending
</button>
