<div
  class="sky-summary-actionbar"
  [ngClass]="{
    'sky-summary-actionbar-summary-collapsable': summaryCollapseMode, 'sky-summary-actionbar-modal': inModalFooter
  }"
>
  <div
    class="sky-summary-actionbar-actions"
  >
    <ng-content
      select="sky-summary-actionbar-actions"
      ></ng-content>
  </div>
  <ng-container *ngIf="summaryContentExists()">
    <div
      class="sky-summary-actionbar-summary"
      [id]="summaryId"
      [@skyAnimationSlide]="slideDirection"
      (@skyAnimationSlide.start)="summaryTransitionStart()"
      (@skyAnimationSlide.done)="summaryTransitionEnd()"
    >
      <div
        class="sky-summary-actionbar-summary-body"
      >
        <div class="sky-summary-actionbar-summary-items">
          <ng-content
            select="sky-summary-actionbar-summary"
          ></ng-content>
        </div>
        <div *ngIf="summaryCollapseMode && !isSummaryCollapsed"
          class="sky-summary-actionbar-details-collapse"
        >
          <button
            class="sky-btn sky-btn-secondary"
            type="button"
            [attr.title]="'skyux_summary_actionbar_hide_summary' | skyLibResources"
            [attr.aria-controls]="summaryId"
            [attr.aria-expanded]="true"
            (click)="hideSummarySection()"
          >
            <sky-icon
              icon="chevron-down"
            ></sky-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isSummaryCollapsed && summaryCollapseMode"
      class="sky-summary-actionbar-details-expand"
    >
      <button
        class="sky-btn sky-btn-secondary"
        type="button"
        [attr.title]="'skyux_summary_actionbar_show_summary' | skyLibResources"
        [attr.aria-controls]="summaryId"
        [attr.aria-expanded]="false"
        (click)="showSummarySection()"
        >
        <sky-icon
          icon="chevron-up"
        ></sky-icon>
      </button>
    </div>
  </ng-container>
</div>
