@import "scss/variables";

@mixin create_columns($screen-size: sm) {
  @for $i from 1 through $sky-fluid-grid-columns {
    &.sky-column-#{$screen-size}-#{$i} {
      width: ($i / $sky-fluid-grid-columns) * 100%;
    }
  }
}

:host.sky-column {
  padding-right: $sky-fluid-grid-gutter;
  padding-left: $sky-fluid-grid-gutter;
  width: 100%;
  min-height: 1px;
}

@include sky-media-container-xs() {
  @include create_columns(xs);

  // This is needed for operation inside a reactive container. Without it the media breakpoint
  // will be used and the screen size version takes over.
  @for $i from 1 through $sky-fluid-grid-columns {
    &:not([class*="sky-column-xs-"]) {
      width: 100%;
    }
  }
}

@include sky-media-container-sm() {
  @include create_columns(sm);
}

@include sky-media-container-md() {
  @include create_columns(md);
}

@include sky-media-container-lg() {
  @include create_columns(lg);
}
