@import "scss/variables";

.sky-fluid-grid-gutter-size-small {
  padding-left: $sky-fluid-grid-gutter-small;
  padding-right: $sky-fluid-grid-gutter-small;

  ::ng-deep .sky-row {
    margin-left: -$sky-fluid-grid-gutter-small;
    margin-right: -$sky-fluid-grid-gutter-small;
  }

  ::ng-deep sky-column.sky-column {
    padding-left: $sky-fluid-grid-gutter-small;
    padding-right: $sky-fluid-grid-gutter-small;
  }

  &.sky-fluid-grid-no-margin {
    ::ng-deep .sky-row {
      margin-left: -$sky-fluid-grid-gutter-small * 2;
      margin-right: -$sky-fluid-grid-gutter-small * 2;
    }
  }
}

.sky-fluid-grid-gutter-size-medium {
  padding-left: $sky-fluid-grid-gutter-medium;
  padding-right: $sky-fluid-grid-gutter-medium;

  ::ng-deep .sky-row {
    margin-left: -$sky-fluid-grid-gutter-medium;
    margin-right: -$sky-fluid-grid-gutter-medium;
  }

  ::ng-deep sky-column.sky-column {
    padding-left: $sky-fluid-grid-gutter-medium;
    padding-right: $sky-fluid-grid-gutter-medium;
  }

  &.sky-fluid-grid-no-margin {
    ::ng-deep .sky-row {
      margin-left: -$sky-fluid-grid-gutter-medium * 2;
      margin-right: -$sky-fluid-grid-gutter-medium * 2;
    }
  }
}

.sky-fluid-grid-gutter-size-large {
  padding-left: $sky-fluid-grid-gutter-large;
  padding-right: $sky-fluid-grid-gutter-large;

  ::ng-deep .sky-row {
    margin-left: -$sky-fluid-grid-gutter-large;
    margin-right: -$sky-fluid-grid-gutter-large;
  }

  ::ng-deep sky-column.sky-column {
    padding-left: $sky-fluid-grid-gutter-large;
    padding-right: $sky-fluid-grid-gutter-large;
  }

  &.sky-fluid-grid-no-margin {
    ::ng-deep .sky-row {
      margin-left: -$sky-fluid-grid-gutter-large * 2;
      margin-right: -$sky-fluid-grid-gutter-large * 2;
    }
  }
}
