@import "scss/variables";

.sky-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-direction: row;
}

@include sky-host-responsive-container-xs-min() {
  .sky-row.sky-row-reverse {
    flex-direction: row;
  }
}

@include sky-host-responsive-container-sm-min() {
  .sky-row.sky-row-reverse {
    flex-direction: row-reverse;
  }}
