<div
  class="sky-padding-even-large"
>
  <sky-docs-demo-control-panel-theme
    (themeSettingsChange)="themeSettingsChange($event)"
  ></sky-docs-demo-control-panel-theme>

  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="onLongLabelClick()"
  >
    Show long label
  </button>
  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="onToggleHeaderClick()"
  >
    Toggle header
  </button>

  <h3>Default mode</h3>
  <div
    class="sky-border-bottom-light sky-padding-even-large"
    id="screenshot-definition-list-default"
  >
    <sky-definition-list>
      <sky-definition-list-heading *ngIf="showHeader">
        Personal information
      </sky-definition-list-heading>
      <sky-definition-list-content *ngFor="let item of personalInfo">
        <sky-definition-list-label>
          {{item.label}}
        </sky-definition-list-label>
        <sky-definition-list-value>
          {{item.value}}
        </sky-definition-list-value>
      </sky-definition-list-content>
    </sky-definition-list>
  </div>

  <h3>Name-value pair mode</h3>
  <div
    class="sky-border-bottom-light sky-padding-even-large"
    id="screenshot-definition-list-name-value"
  >
    <sky-definition-list
      [mode]="'nameValuePair'"
      [orientation]="'horizontal'"
    >
      <sky-definition-list-heading *ngIf="showHeader">
        Personal information
      </sky-definition-list-heading>
      <sky-definition-list-content *ngFor="let item of personalInfo">
        <sky-definition-list-label>
          {{item.label}}
        </sky-definition-list-label>
        <sky-definition-list-value>
          {{item.value}}
        </sky-definition-list-value>
      </sky-definition-list-content>
    </sky-definition-list>
  </div>

  <h3>Name-value pair mode (vertical orientation)</h3>
  <div
    class="sky-border-bottom-light sky-padding-even-large"
    id="screenshot-definition-list-name-value-vertical"
  >
    <sky-definition-list
      [mode]="'nameValuePair'"
      [orientation]="'vertical'"
    >
      <sky-definition-list-heading *ngIf="showHeader">
        Personal information
      </sky-definition-list-heading>
      <sky-definition-list-content *ngFor="let item of personalInfo">
        <sky-definition-list-label>
          {{item.label}}
        </sky-definition-list-label>
        <sky-definition-list-value>
          {{item.value}}
        </sky-definition-list-value>
      </sky-definition-list-content>
    </sky-definition-list>
  </div>

  <h3>Term description mode</h3>
  <div
    class="sky-border-bottom-light sky-padding-even-large"
    id="screenshot-definition-list-term-description"
  >
    <sky-definition-list
      [mode]="'termDescription'"
    >
      <sky-definition-list-heading *ngIf="showHeader">
        Personal information
      </sky-definition-list-heading>
      <sky-definition-list-content *ngFor="let item of orgInfo">
        <sky-definition-list-label>
          {{item.label}}
        </sky-definition-list-label>
        <sky-definition-list-value>
          {{item.value}}
        </sky-definition-list-value>
      </sky-definition-list-content>
    </sky-definition-list>
  </div>
</div>
