<sky-docs-demo-control-panel-theme
  (themeSettingsChange)="themeSettingsChange($event)"
></sky-docs-demo-control-panel-theme>

<div
 class="sky-padding-even-large sky-border-bottom-light"
>
  <h1>Definition lists</h1>
  <h2>Name-value pair mode (horizontal orientation)</h2>
  <dl
    class="sky-definition-list sky-definition-list-pair-mode sky-definition-list-horizontal"
  >
    <div
      class="sky-definition-list-pair-wrapper"
    >
      <dt>
        1. Student ID
      </dt>
      <dd>
        0002971955
      </dd>
    </div>
    <div
      class="sky-definition-list-pair-wrapper"
    >
      <dt>
        2. A really long name that should wrap to the next line
      </dt>
      <dd>
        Building C 101
      </dd>
    </div>
    <div
      class="sky-definition-list-pair-wrapper"
    >
      <dt>
        3. Advisor(s)
      </dt>
      <dd>
        L. Henegar
      </dd>
      <dd>
        T. Bullion
      </dd>
      <dd>
        F. Jackson
      </dd>
    </div>
    <div
      class="sky-definition-list-pair-wrapper"
    >
      <dt>
        4. Grade level
      </dt>
      <dd>
        12
      </dd>
    </div>
    <div
      class="sky-definition-list-pair-wrapper"
    >
      <dt>
        5. Residence
      </dt>
      <dd>
        Building C 101
      </dd>
    </div>
  </dl>

  <h2>Name-value pair mode (vertical orientation)</h2>
  <dl
    class="sky-definition-list sky-definition-list-pair-mode sky-definition-list-vertical"
  >
    <div
      class="sky-definition-list-pair-wrapper"
    >
      <dt>
        1. Student ID
      </dt>
      <dd>
        0002971955
      </dd>
    </div>
    <div
      class="sky-definition-list-pair-wrapper"
    >
      <dt>
        2. A really long name that should wrap to the next line
      </dt>
      <dd>
        Building C 101
      </dd>
    </div>
    <div
      class="sky-definition-list-pair-wrapper"
    >
      <dt>
        3. Advisor(s)
      </dt>
      <dd>
        L. Henegar
      </dd>
      <dd>
        T. Bullion
      </dd>
      <dd>
        F. Jackson
      </dd>
    </div>
    <div
      class="sky-definition-list-pair-wrapper"
    >
      <dt>
        4. Grade level
      </dt>
      <dd>
        12
      </dd>
    </div>
    <div
      class="sky-definition-list-pair-wrapper"
    >
      <dt>
        5. Residence
      </dt>
      <dd>
        Building C 101
      </dd>
    </div>
  </dl>
</div>

<div
 class="sky-padding-even-large"
>
  <h2>
    Term mode
  </h2>
  <dl
    class="sky-definition-list sky-definition-list-term-mode"
  >
    <dt>
      Organization name
    </dt>
    <dd>
      This name appears as the creator of the application on the App Marketplace card.
    </dd>
    <dt>
      Organization name
    </dt>
    <dd>
      asdfasdfa sfdff asdf asfdasfd sfa affasdf sdf.
    </dd>
    <dt>
      A really long label that should wrap onto the next line
    </dt>
    <dd>
      Foo bar
    </dd>
  </dl>

</div>
