<h1>
  Visual tests
</h1>

<ul>
  <li>
    <a routerLink="visual/action-button">Action button</a>
  </li>
  <li>
    <a routerLink="visual/back-to-top">Back to top</a>
  </li>
  <li>
    <a routerLink="visual/back-to-top-message-stream">Back to top - Message stream</a>
  </li>
  <li>
    <a routerLink="visual/back-to-top-scrollable-parent">Back to top = Scrollable parent</a>
  </li>
  <li>
    <a routerLink="visual/box">Box</a>
  </li>
  <li>
    <a routerLink="visual/card">Card</a>
  </li>
  <li>
    <a routerLink="visual/definition-list">Definition list</a>
  </li>
  <li>
    <a routerLink="visual/description-list">Description list</a>
  </li>
  <li>
    <a routerLink="visual/fluid-grid">Fluid grid</a>
  </li>
  <li>
    <a routerLink="visual/format">Format</a>
  </li>
  <li>
    <a routerLink="visual/inline-delete">Inline delete</a>
  </li>
  <li>
    <a routerLink="visual/page">Page</a>
  </li>
  <li>
    <a routerLink="visual/page-summary">Page summary</a>
  </li>
  <li>
    <a routerLink="visual/text-expand">Text expand</a>
  </li>
  <li>
    <a routerLink="visual/text-expand-repeater">Text expand repeater</a>
  </li>
  <li>
    <a routerLink="visual/toolbar">Toolbar</a>
  </li>
</ul>
