<h1>
  Visual tests
</h1>

<ul>
  <li>
    <a routerLink="visual/action-button">Action button</a>
  </li>
  <li>
    <a routerLink="visual/back-to-top"></a>
  </li>
  <li>
    <a routerLink="visual/back-to-top-message-stream"></a>
  </li>
  <li>
    <a routerLink="visual/back-to-top-scrollable-parent"></a>
  </li>
  <li>
    <a routerLink="visual/card"></a>
  </li>
  <li>
    <a routerLink="visual/definition-list"></a>
  </li>
  <li>
    <a routerLink="visual/fluid-grid"></a>
  </li>
  <li>
    <a routerLink="visual/format"></a>
  </li>
  <li>
    <a routerLink="visual/inline-delete"></a>
  </li>
  <li>
    <a routerLink="visual/page"></a>
  </li>
  <li>
    <a routerLink="visual/page-summary"></a>
  </li>
  <li>
    <a routerLink="visual/text-expand"></a>
  </li>
  <li>
    <a routerLink="visual/text-expand-repeater"></a>
  </li>
  <li>
    <a routerLink="visual/toolbar"></a>
  </li>
</ul>
