@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

$sky-fluid-grid-gutter-small: $sky-padding-half;
$sky-fluid-grid-gutter-medium: $sky-padding;
$sky-fluid-grid-gutter-large: $sky-padding-plus-half;
$sky-fluid-grid-columns: 12 !default;
