@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

@include sky-media-container-xs() {
  .sky-page-summary-image {
        width: $sky-avatar-width;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $sky-margin;
    }
}

@include sky-media-container-sm() {
  .sky-page-summary-image {
      width: $sky-avatar-width + $sky-margin-double;
      flex: 0 0 $sky-avatar-width + $sky-margin-double;
      margin: initial;
  }
}
