<div class="sky-padding-even-default">
  <label class="sky-control-label">
    Theme:
    <sky-e2e-theme-selector></sky-e2e-theme-selector>
  </label>
</div>

<h3>Box component with overflowing header text</h3>
<div class="sky-padding-even-large" id="screenshot-box-overflowing-header">
  <sky-box>
    <sky-box-header>
      <h2 class="sky-font-heading-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </h2>
    </sky-box-header>
    <sky-box-controls>
      <button class="sky-btn sky-btn-default sky-btn-icon" type="button">
        <sky-icon icon="pencil"></sky-icon>
      </button>
    </sky-box-controls>
    <sky-box-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </sky-box-content>
  </sky-box>
</div>

<h3>Box component with different headers</h3>
<div class="sky-padding-even-large" id="screenshot-box-headers">
  <sky-box>
    <sky-box-header>
      <h2 class="sky-font-heading-2">
        h2 header with class="sky-font-heading-2"
      </h2>
    </sky-box-header>
    <sky-box-controls>
      <button class="sky-btn sky-btn-default sky-btn-icon" type="button">
        <sky-icon icon="pencil"></sky-icon>
      </button>
    </sky-box-controls>
    <sky-box-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </sky-box-content>
  </sky-box>
  <sky-box>
    <sky-box-header>
      <h1>h1 header</h1>
    </sky-box-header>
    <sky-box-controls>
      <button class="sky-btn sky-btn-default sky-btn-icon" type="button">
        <sky-icon icon="pencil"></sky-icon>
      </button>
    </sky-box-controls>
    <sky-box-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </sky-box-content>
  </sky-box>
  <sky-box>
    <sky-box-header>
      <h2>h2 header</h2>
    </sky-box-header>
    <sky-box-controls>
      <button class="sky-btn sky-btn-default sky-btn-icon" type="button">
        <sky-icon icon="pencil"></sky-icon>
      </button>
    </sky-box-controls>
    <sky-box-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </sky-box-content>
  </sky-box>
  <sky-box>
    <sky-box-header>
      <h3>h3 header</h3>
    </sky-box-header>
    <sky-box-controls>
      <button class="sky-btn sky-btn-default sky-btn-icon" type="button">
        <sky-icon icon="pencil"></sky-icon>
      </button>
    </sky-box-controls>
    <sky-box-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </sky-box-content>
  </sky-box>
  <sky-box>
    <sky-box-header> Just plain text. No element. </sky-box-header>
    <sky-box-controls>
      <button class="sky-btn sky-btn-default sky-btn-icon" type="button">
        <sky-icon icon="pencil"></sky-icon>
      </button>
    </sky-box-controls>
    <sky-box-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </sky-box-content>
  </sky-box>
</div>
<h3>Box component with missing children</h3>
<div class="sky-padding-even-large" id="screenshot-box-missing-children">
  <sky-box>
    <sky-box-header>
      <h2 class="sky-font-heading-2">Box with no controls</h2>
    </sky-box-header>
    <sky-box-content> Box with no controls </sky-box-content>
  </sky-box>
  <sky-box>
    <sky-box-controls>
      <button class="sky-btn sky-btn-default sky-btn-icon" type="button">
        <sky-icon icon="pencil"></sky-icon>
      </button>
    </sky-box-controls>
    <sky-box-content> Box with no header </sky-box-content>
  </sky-box>
  <sky-box>
    <sky-box-content> Box with no header and no box controls </sky-box-content>
  </sky-box>
  <sky-box> Box with no content section. </sky-box>
  <sky-box> </sky-box>
</div>
