<a *ngIf="permalink && permalink.route"
  class="sky-action-button sky-btn-default sky-rounded-corners"
  tabindex="0"
  [fragment]="permalink.route?.extras?.fragment"
  [ngClass]="{
    'sky-btn sky-box' : themeName === 'modern'
  }"
  [queryParams]="permalink.route?.extras?.queryParams"
  [queryParamsHandling]="permalink.route?.extras?.queryParamsHandling"
  [routerLink]="permalink.route?.commands"
>
  <ng-container *ngTemplateOutlet="
    themeName === 'modern' ? modernContent : defaultContent
  ">
  </ng-container>
</a>

<a *ngIf="permalink && !permalink.route"
  class="sky-action-button sky-btn-default sky-rounded-corners"
  tabindex="0"
  [href]="permalink.url"
  [ngClass]="{
    'sky-btn sky-box' : themeName === 'modern'
  }"
>
  <ng-container *ngTemplateOutlet="
    themeName === 'modern' ? modernContent : defaultContent
  ">
  </ng-container>
</a>

<div *ngIf="!permalink"
  class="sky-action-button sky-btn-default sky-rounded-corners"
  tabindex="0"
  role="button"
  [ngClass]="{
    'sky-btn sky-box' : themeName === 'modern'
  }"
  (click)="buttonClicked()"
  (keydown.enter)="enterPress()"
>
  <ng-container *ngTemplateOutlet="
    themeName === 'modern' ? modernContent : defaultContent
  ">
  </ng-container>
</div>

<ng-template
  #defaultContent
>
  <div class="sky-action-button-icon-header-container">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <ng-container *ngTemplateOutlet="header"></ng-container>
  </div>
  <ng-container *ngTemplateOutlet="details"></ng-container>
</ng-template>

<ng-template
  #modernContent
>
  <ng-container *ngTemplateOutlet="icon"></ng-container>
  <div class="sky-action-button-content">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div
      class="sky-action-button-details"
      [ngClass]="{
        'sky-font-deemphasized' : themeName === 'modern'
      }"
    >
      <ng-container *ngTemplateOutlet="details"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #icon>
  <ng-content select="sky-action-button-icon"></ng-content>
</ng-template>

<ng-template #header>
  <ng-content select="sky-action-button-header"></ng-content>
</ng-template>

<ng-template #details>
  <ng-content select="sky-action-button-details"></ng-content>
</ng-template>
